.row.content {
	 height: 1500px;
}
    
.gridbox {
	background-color: transparent;
	border: 1px solid #A9A9A9;
	border-radius: 25px;
	color: black;
	height: auto;
	text-align: left;
	margin: 5px;
}

input{
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	background: #e6e6e6;
}
.filetxt{
	outline: none;
	border: none;
}
    
/* On small screens, set height to 'auto' for grid*/
@media screen and (max-width: 767px) {
	.gridbox {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	} 
}


