/* body{ visibility: hidden; } */
/* .startHidden{ display: none; } */

/*  START OF EUNICE'S CSS FOR CHECKBOX AND RADIO INPUTS  */

/* Hiding radio and checkbox */
[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	text-align: center;
}

[type=checkbox] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	text-align: center;
}

  
/* Image styles */
[type=radio] + img {
	cursor: pointer;
}

[type=checkbox] + img {
	cursor: pointer;
}
  
/* Checked styles */
  [type=radio]:checked + img {
	outline: 3px solid rgb(0, 221, 66);
}

  [type=checkbox]:checked + img {
	outline: 3px solid rgb(0, 221, 66);
}

/* END OF EUNICE'S CSS FOR CHECKBOX AND RADIO INPUTS  */



hr.container{ border-top: 1px solid rgb(255, 0, 0);}

.container{
	border: 2px solid #d2d2d2;
	border-radius: 5px;
	padding: 15px;
}

#main_index{
	border: 2px solid #d2d2d2;
	border-radius: 5px;
	padding: 15px;
}

#login{}

#signup{ display: none;}




a.large{
	width: 100px;
	height: 100px;
}


i.fa-trash{
	color: red;
}

th i.fa-trash{
	color: black;
}

i.fa-minus{
	color: red;
}

th i.fa-minus{
	color: black;
}