/*------------------------------------------------------------------
[ STYLING FOR YES/NO THUMBS QUESTIONS]*/
.thumbs {
  float: middle;
  text-align: center;
  margin: 0 auto;

  
}


.thumbs label:hover {
  font-size: 25px;
  color: rgba(40,168,99);
}

.thumbs input:checked + label {
  font-size: 1.2em;
  color: rgba(40,168,99);
}
.thumbs .space{
	padding-right: 30px;
	padding-left: 30px;

}

.thumbs label {
  cursor: pointer;
  transition: color .5s;
}

/*------------------------------------------------------------------
[ BOX BORDER]*/
.boxes {
  padding-bottom: 0.25em;
  border-radius: 10px;
  margin: 1em auto;
  position: relative;	/*cursor position*/
  width: 100%;
}
.boxes label {
  color: black;
  float: left;
  width: 20%;
  text-align: center;
  cursor: pointer;
  transition: color .5s;
}

/* four images in a row*/
.boxes .fourCol {
  float: right;
  width: 25%;
}
.boxes::after{
  content: '';
  display: table; width: 100%; clear: both;
}

img {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width:170px;
  height:170px;
}

/*------------------------------------------------------------------
[RADIO BUTTON]*/
.radioButton input[type="radio"] {
  display: none;
}

/*Style when radio button is checked*/
.radioButton [type=radio]:checked + img {
	padding: 2px;
	outline: 5px solid rgba(40,168,99);
	opacity: 0.7;
	
}

.slider input[type="radio"] {
  display: none;
}

.slider label:hover {
  font-size: 1.2em;
  color: rgba(40,168,99);
}

.slider input:checked + label {
  font-size: 1.2em;
  color: rgba(40,168,99);
}

.slider label:last-of-type::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
  border: 0.6em solid transparent;
  border-top-width: 0;
  border-bottom-color: rgba(40,168,99);
  position: absolute;
  bottom: -5px;
  left: 0;
  margin-left: -0.6em;
  transition: left 0.5s;
}

.slider input:checked:nth-of-type(1) ~ label:last-of-type::after {
  left: 10%;
}
.slider input:checked:nth-of-type(2) ~ label:last-of-type::after {
  left: 30%;
}
.slider input:checked:nth-of-type(3) ~ label:last-of-type::after {
  left: 50%;
}
.slider input:checked:nth-of-type(4) ~ label:last-of-type::after {
  left: 70%
}
.slider input:checked:nth-of-type(5) ~ label:last-of-type::after {
  left: 90%;
}


/*------------------------------------------------------------------
[CHECK BOX]*/

.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox label{
	text-align: center;
}
.checkbox label:hover {
  font-size: 1.0em;
  color: rgba(40,168,99);
}

/*checked styles*/
.checkbox [type=checkbox]:checked + img {
	padding: 2px;
	outline: 5px solid rgba(40,168,99);
	opacity: 0.7;	
}

/*----------------------------------------
[ MEDIA QUERIES]*/
@media (max-width: 950px) { 
	.icon img {
	width:100px;
	height:100px;
  }
  
}


