/*------------------------------------------------------------------
[ Error Message ]*/
.error-message {
    display:none;
    color: #c80000; /*red text*/
    padding: 1px;	
    text-align: center;
	background-color: white;
	border: 1px solid #c80000;
	position: relative;
	width: fit-content;
	z-index: 1;
	margin-bottom: 10px;
	font-family: Poppins-Medium;
}

/*------------------------------------------------------------------
[ toggle hide and show content ]*/
#sign{
	display:none;
}

/*------------------------------------------------------------------
[ asterisk ]*/
.required {
  color: red;
} 
