/*Font style*/
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body{
	background-image:url(../images/landscape5.png);
	background-size:cover;
	background-attachment:fixed;
	
	font-family: 'Caveat Brush', cursive;
	font-size: 20px;
    /*background: linear-gradient(-135deg,#205072, #329D9C, #56C596,#F9C449) fixed;
	background-repeat: no-repeat;*/
}

.container {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding: 15px;
    background: rgba(255,255,255,.8);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.customContainer{
	max-height: 1000px;
	max-width: 500px;
}
/* Elements ------------------------------------------- */

.logo{
	max-height: 200px;
	max-width: 200px;
}
img {
	width: 400px;
	height: 400px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	transition: transform 0.5s;
}

img:hover{
		transform: scale(0.9);
}

/* Ids ------------------------------------------------ */

#username{
	text-transform: capitalize;
}

#Progressbar {
	width: 100%;
	background-color: #ddd;
}
  
#bar {
	width: 0%;
	height: 30px;
	background-color: #4CAF50;
	text-align: center;
	line-height: 30px;
	color: white;
}

.submitButton{
	float: middle;
	text-align: center;
	justify-content: space between;
}
}

/* Classes -------------------------------------------- */

.icon {
	width:100px;
}

.btn-std-0 { width: none; }
.btn-std-1 { width: 4rem; }
.btn-std-2 { width: 6rem; }
.btn-std-3 { width: 8rem; }
.btn-std-4 { width: 10rem; }

.custom-button{
	margin-top: 10px;
	margin-bottom: 10px;

	/* height: 100px; */

}

.error{
	visibility: hidden;
	color: red;
	border: 1px solid red;
	border-radius: 5px;
	margin: 2px;
	padding: 5px;
}

.question-card{
	width: 18rem;
}

.fitToCenter{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.outlineSection{
	border: 1px solid black;
	border-radius: 10px;
	/* background-color: lightgrey; */
}

.centerToPage{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
}



/* Combinations ---------------------------------------- */
.input-hidden {
	position: absolute;
	left: -9999px;
}
  
input[type=radio]:checked + label{
	border: 1px solid #fff;
	box-shadow: 0 0 3px 3px #090;
}

input[type=radio]{
	transition: 1ms all;
}

input[type=checkbox]:checked + label {
	border: 1px solid #fff;
	box-shadow: 0 0 3px 3px #090;
}

input[type=checkbox] + label {
	transition: 1ms all;
}

/*Radio button Text animation ---------------------------*/
.row label:hover {
  color: rgba(40,168,99);
}

.row input:checked + label {
  color: rgba(40,168,99);
}

