/* Elements ------------------------------------------- */
img {
	/* width: 400px;
	height: 400px; */
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* Ids ------------------------------------------------ */

#username{
	text-transform: capitalize;
}

#Progressbar {
	width: 100%;
	background-color: #ddd;
}
  
#bar {
	width: 0%;
	height: 30px;
	background-color: #4CAF50;
	text-align: center;
	line-height: 30px;
	color: white;
}

/* Classes -------------------------------------------- */

.icon {
	width:100px;
}

.btn-std-0 { width: none; }
.btn-std-1 { width: 4rem; }
.btn-std-2 { width: 6rem; }
.btn-std-3 { width: 8rem; }
.btn-std-4 { width: 10rem; }

.custom-button{
	margin-top: 10px;
	margin-bottom: 10px;

	/* height: 100px; */

}

.error{
	visibility: hidden;
	color: red;
	border: 1px solid red;
	border-radius: 5px;
	margin: 2px;
	padding: 5px;
}

.question-card{
	width: 18rem;
}

.fitToCenter{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.outlineSection{
	border: 1px solid black;
	border-radius: 10px;
	/* background-color: lightgrey; */
}

.centerToPage{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
}



/* Combinations ---------------------------------------- */
.input-hidden {
	position: absolute;
	left: -9999px;
}
  
input[type=radio]:checked + label{
	border: 1px solid #fff;
	box-shadow: 0 0 3px 3px #090;
}

input[type=radio]{
	transition: 1ms all;
}

input[type=checkbox]:checked + label {
	border: 1px solid #fff;
	box-shadow: 0 0 3px 3px #090;
}

input[type=checkbox] + label {
	transition: 1ms all;
}



